button.new-prd {
    color: rgb(200, 100, 200);
    font-weight: 500;
}

button.new-prd:hover {
    background-color: rgb(200, 100, 200);
}

tr td div img {
    vertical-align: middle;
}

tr:hover{
    background-color: rgb(191, 219, 233);
}
