@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    font-family: serif;
    font-size: calc(15px + 0.314vw);
}

button.new-prd {
    color: rgb(200, 100, 200);
    font-weight: 500;
}

button.new-prd:hover {
    background-color: rgb(200, 100, 200);
}

tr td div img {
    vertical-align: middle;
}

tr:hover{
    background-color: lightgray;
}

ul.dropdown-menu li button:hover {
    background-color: rgb(200, 100, 200);
}

.footer {
    min-width: 100%;
    background-color: rgb(200, 100, 200);
    color: white;
    font-size: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer.footer p {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: 500;
}

footer.footer a {
    margin-top: 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width:768px) {

    form.menu-form {
        flex-direction: column;
        margin-top: 20px;
    }
        
    input.search-box, button.sort-btn {
        max-width: 100%;
        border: 2px solid black;
    }

    div.sort-drp-dwn {
        max-width: 100%;
        margin-top: 10px;
    }

    ul.dropdown-menu {
        text-align: center;
        width: 100%;
    }
}

form.hidden_menu { 
    display:none;
}